:root {
  --bg: #222020;
  --darkbg: #1B1A1A;
  --accent: #009DFF;
  --darkaccent: #1B394D;
}


/* --------------------------------------------------------------
   GENERAL PAGE SETUP
-------------------------------------------------------------- */

body {
  margin: 0;
  font-family: "Sansation", system-ui, sans-serif;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #FFFFFF;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* --------------------------------------------------------------
   HEADER (DESKTOP)
-------------------------------------------------------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #000000;
  border-bottom: 5px solid var(--accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
  z-index: 1100;
}

.left {
  width: 28vw;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

.headerbuttons {
  display: flex;
  gap: 10px;
  width: 70vw;
  height: 70%;
}

.headerbutton {
  display: flex;
  background: #000000;
  border: 4px solid var(--bg);
  color: #FFFFFF;
  padding: 8px 12px;
  margin: 0 0.5vw;
  cursor: pointer;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: center;
}

.headerbutton:hover {
  border-color: var(--accent);
  text-decoration: none;
}


/* --------------------------------------------------------------
   HEADER (MOBILE)
-------------------------------------------------------------- */

.menu-toggle {
  display: none;
  background: var(--bg);
  border-radius: 5px;
  border: none;
  color: var(--accent);
  font-size: 28px;
  cursor: pointer;
}


@media (max-width: 950px) {
  header {
    justify-content: space-between;
  }

  .left {
    width: 100%;
    display: contents;
  }

  .title{
    width: 100%;
  }

  .headerbuttons {
    display: none;
  }

  .menu-toggle {
    display: inline-block;
    top: 25px;
    left: 20px;
    z-index: 1100;
    margin: 0 10px 0 10px;
  }
}


/* --------------------------------------------------------------
   SIDEBAR (DESKTOP)
-------------------------------------------------------------- */

#sidebar {
  position: relative;
  width: 28vw;
  background: var(--bg);
  color: white;
  border-right: 3px solid var(--accent);
  padding: 10px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 900;
}

.sidebarheader {
  text-align: center;
  margin-bottom: 10px;
  margin-right: 0.5vw;
}

h3 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
}

summary {
  font-size: 25px;
  padding-top: 20px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

summary:hover {
  color: var(--accent);
}

.sidebarlink {
  font-size: 20px;
  color: #FFFFFF;
  padding-bottom: 9px;
  width: 100%;
  display: inline-grid;
}

.sidebarlink:hover {
  color: var(--accent);
  text-decoration: underline;
  cursor: pointer;
}

.sidebarlink.active-page {
  color: var(--accent);
  padding-left: 6px;
  font-weight: bold;
}


/* --------------------------------------------------------------
   SIDEBAR (MOBILE)
-------------------------------------------------------------- */

@media (max-width: 950px) {
  #sidebar {
    position: fixed;
    top: 90px;
    left: 0;
    width: 250px;
    height: calc(100% + 50px);
    background: var(--bg);
    transform: translateX(-100%);
    z-index: 1000;
  }

  #sidebar.active {
    transform: translateX(0);
  }

  /* Sidebar version of header buttons */
  #sidebar .headerbuttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
  }

  #sidebar .headerbutton {
    background: #000000;
    border: 4px solid #111;
    color: #FFFFFF;
    padding: 8px 12px;
    margin: 0 0.5vw;
    cursor: pointer;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
  }

  h3 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  }

  summary {
  font-size: 20px;
  padding-top: 20px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  }

  .sidebarlink {
    font-size: 15px;
    color: #FFFFFF;
    padding-bottom: 9px;
    width: 100%;
    display: inline-grid;
  }
}


/* --------------------------------------------------------------                        OLD
   MAIN CONTENT (DESKTOP) OLD
-------------------------------------------------------------- */

.container {
  display: flex;
  flex: 1;
  margin-top: 80px;
  overflow: hidden;
}

main {
  flex: 1;
  padding: 0.75vw;
  box-sizing: border-box;
  display: ruby;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Content Styles */
.ContentTitle {
  width: 100%;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.ContentBetweenTitle {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent);
  margin-top: 40px;
}

.ContentFull {
  width: 100%;
  font-size: 20px;
  color: #FFFFFF;
  padding-left: 10px;
  line-height: 1.6;
}

.ContentRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.ContentWimg {
  width: 65%;
  font-size: 20px;
  color: #FFFFFF;
  vertical-align: top;
  padding-left: 10px;
  line-height: 1.6;
}

.ContentIMGcontainer {
  width: 30%;
  border: 4px solid var(--accent);
  border-radius: 8px;
  overflow: hidden;
}


/* --------------------------------------------------------------                        OLD
   MAIN CONTENT (MOBILE) OLD
-------------------------------------------------------------- */

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  main {
    padding: 15px;
  }

  .ContentTitle {
    font-size: 50px;
  }

  .ContentBetweenTitle {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent);
    margin-top: 40px;
  }

  .ContentFull,.ContentWimg{
    font-size: 16px
  }

  .ContentRow {
    flex-direction: column;
    align-items: center;
  }

  .ContentWimg,
  .ContentIMGcontainer {
    width: 100%;
  }
}


/* --------------------------------------------------------------
   MAIN CONTENT (DESKTOP)  NEW
-------------------------------------------------------------- */

.together{  /*sidebar+main*/
  display: flex;
  flex: 1;
  margin-top: 80px;
  overflow: hidden;
  background-color: var(--darkbg);
}

#content{   /*onlymain*/
  flex: 1;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.75vw;
  background-color: var(--bg);
  overflow-y: auto;
  overflow-x: hidden;
}

.top{
  width: 100%;
}

  .toptitle{
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent);
    text-align: center;
    margin: 23px 0 18px 0;
    -webkit-text-stroke-width: thin;
  }

  .topsummary{
    width: 80%;
    background-color: var(--darkaccent);
    border: 4px solid var(--accent);
    border-radius: 8px;
    margin: 0 auto;

  }

    .topsummarytitle{
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--accent);
      margin: 10px 10px 0 10px;
    }

    .topsummarycontent{
      font-size: 23px;
      margin: 10px 5px 10px 15px;
    }

  .update-warning {
    border-left: 5px solid #ED1B25;
    background: rgba(237, 27, 37, 0.1);
    padding: 12px 16px;
    margin: 16px 0;
    border-radius: 6px;
    font-size: 0.95rem;
  }


  hr.topline{
    background-color: #000000;
    height: 5px;
    border: none;
    margin: 30px 0 30px 0;
  }

.middle{
  width: 100%;
}

  .middlebetweentitle{
    font-size: 33px;
    font-weight: bold;
    margin: 30px 0 0 10px;
    clear: both;
  }

  hr.betweentitledivider{
    background-color: var(--darkbg);
    width: 70%;
    height: 3px;
    border: none;
    margin: 20px 0 25px 0;
  }

  .middletextalone{
    font-size: 23px;
    margin: 0 15px 0 15px;
  }

  .imagegroup {
    float: right;
    width: 40%;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .imagegroup img {
    width: 100%;
    border: 4px solid var(--accent);
    border-radius: 8px;
    margin-bottom: 10px;
  }

  hr.bottomline{
    background-color: var(--accent);
    height: 3px;
    border: none;
    margin: 20px 0 25px 0;    
    clear: both;
  }  

.bottom{
  width: 100%;
}

  .bottomtext{
    text-align: center;
    font-weight: bold;
  }


/* --------------------------------------------------------------
   MAIN CONTENT (MOBILE)   NEW
-------------------------------------------------------------- */

@media (max-width: 650px) {

.together{  /*sidebar+main*/
  flex-direction: column;
}

#content{   /*onlymain*/
  flex: 1;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--bg);
  overflow-y: auto;
  overflow-x: hidden;
}

.top{
  width: 100vw;
}

  .toptitle{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent);
    text-align: center;
    margin: 23px 0 18px 0;
    -webkit-text-stroke-width: 0;
  }

  .topsummary{
    width: 80%;
    background-color: var(--darkaccent);
    border: 4px solid var(--accent);
    border-radius: 8px;
    margin: 0 auto;

  }

    .topsummarytitle{
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--accent);
      margin: 10px 10px 0 10px;
    }

    .topsummarycontent{
      font-size: 18px;
      margin: 10px 5px 10px 15px;
    }

  hr.topline{
    background-color: #000000;
    height: 5px;
    border: none;
    margin: 30px 0 30px 0;
  }

.middle{
  width: 100vw;
}

  .middlebetweentitle{
    font-size: 33px;
    font-weight: bold;
    margin: 30px 0 0 0;
    clear: both;
    text-align: center;
  }

  hr.betweentitledivider{
    background-color: var(--darkbg);
    width: 70%;
    height: 3px;
    border: none;
    margin: 20px auto 25px auto;
  }

  .middletextalone{
    font-size: 18px;
    margin: 0 30px 0 30px;
  }

  .imagegroup {
    float: none;
    width: 80%;
    margin-left: 0;
    margin-bottom: 10px;
    justify-self: center;
  }

  .imagegroup img {
    width: 90%;
    border: 4px solid var(--accent);
    border-radius: 8px;
    margin-top: 10px;    
    margin-bottom: 10px;
  }

  hr.bottomline{
    background-color: var(--accent);
    height: 3px;
    border: none;
    margin: 20px 0 25px 0;    
  }  

.bottom{
  width: 100%;
}

  .bottomtext{
    text-align: center;
    font-weight: bold;
  }

}

/* --------------------------------------------------------------
   TABLE STYLING
-------------------------------------------------------------- */

.ContentTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 4px solid var(--accent);
  border-radius: 8px;
  overflow: hidden;
}

.TableHead {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  height: 35px;
}

.TableChild {
  color: #FFFFFF;
  font-size: 20px;
  height: 30px;
}

.TableFirst {
  font-weight: bold;
}

.ContentTable th,
.ContentTable td {
  border: 1px solid #000000;
  padding: 6px 10px;
}

.ContentUTable {
  width: 100%;
  font-size: 16px;
  padding: 0;
  padding-left: 10px;
  padding-top: 5px;
  margin: 0;
  color: #FFFFFF;
}

.tablewrap {
  overflow-x: auto;   /* horizontal scroll */
  overflow-y: hidden;
  width: 100%;
  margin: 15px 0;
}

@media (max-width: 800px) {
  .TableHead{
    font-size: 20px;
  }

  .TableChild{
    font-size: 16px;
  }

  .ContentUTable{
    font-size: 14px;
  }
}


/* --------------------------------------------------------------
   FAQ BUTTONS
-------------------------------------------------------------- */

.faq-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.faq-buttons button {
  background-color: var(--bg);
  color: white;
  border: 3px solid var(--accent);
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

.faq-buttons button:hover {
  background-color: var(--accent);
}

@media (max-width: 650px) {

  .faq-buttons{
    margin: 0 10px 15px 10px;
  }

}

/* --------------------------------------------------------------
   SCROLLBAR
-------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--darkbg);
  border-radius: 5px;
  border: 2px solid var(--bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}


/* --------------------------------------------------------------
   404 PAGE
-------------------------------------------------------------- */

h4 {
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
  width: 100%;
  font-size: 200px;
  font-weight: bold;
  color: var(--accent);
  text-align: center;
}

h5 {
  width: 100%;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
}