@media (max-width: 1500px) and (min-width: 950px){

#sidebar{
    width: 33%;
}

.logo{
    width: 100%;
    border-radius: 0;
    font-size: 30px;
}

.sidebarnav{
    width: 100%;
    padding: 0;
}

h3{
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 30px;
}

summary{
    padding-left: 10px;
    font-size: 20px;
}

.sidebarlink{
    font-size: 16px;
}

#content{
    border: none;
}

.toptitle{
    font-size: 55px;
}

.topsummary{
    border: 3px solid var(--accent);
}

.topsummarytitle{
    font-size: 25px;
}

.topsummarycontent{
    font-size: 20px;
}

.middlebetweentitle{
    font-size: 25px;
}

.middletextalone{
    font-size: 20px;
}

.TableHead{
    font-size: 18px;
}

.TableChild{
    font-size: 15px;
}

}