@media (max-width: 950px) and (min-width: 550px){
   
.menu-toggle {
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    display: flex;
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.navigation {
    display: flex;
}

#sidebar{
    position: fixed;
    top: 80px;
    background: #000000;
    width: 400px;
    border-top: 3px solid var(--accent);
    border-right: 3px solid var(--accent);
    border-radius: 0 10px 0 0;
}

.logo{
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--accent);
    border-radius: 0 10px 0 0;
    font-size: 30px;
}

.sidebarnav{
    width: 100%;
    padding: 0;
    border: none;
}

h3{
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 30px;
}

summary{
    padding-left: 10px;
    font-size: 20px;
}

.sidebarlink{
    font-size: 16px;
}

#content{
    border: none;
}


  .toptitle{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent);
    text-align: center;
    margin: 23px 0 18px 0;
    -webkit-text-stroke-width: 0;
  }

  .topsummary{
    width: 80%;
    background-color: var(--darkaccent);
    border: 4px solid var(--accent);
    border-radius: 8px;
    margin: 0 auto;

  }

    .topsummarytitle{
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--accent);
      margin: 10px 10px 0 10px;
    }

    .topsummarycontent{
      font-size: 18px;
      margin: 10px 5px 10px 15px;
    }

  hr.topline{
    background-color: #000000;
    height: 5px;
    border: none;
    margin: 30px 0 30px 0;
  }

.middle{
  width: 100vw;
  flex: 1;
} 

  .middlebetweentitle{
    font-size: 33px;
    font-weight: bold;
    margin: 30px 0 0 0;
    clear: both;
    text-align: center;
  }

  hr.betweentitledivider{
    background-color: var(--darkbg);
    width: 70%;
    height: 3px;
    border: none;
    margin: 20px auto 25px auto;
  }

  .middletextalone{
    font-size: 18px;
    margin: 0 30px 0 30px;
  }

  .imagegroup {
    float: none;
    width: 80%;
    max-width: 450px;
    margin-left: 0;
    margin-bottom: 10px;
    justify-self: center;
  }

  .imagegroup img {
    width: 90%;
    border: 4px solid var(--accent);
    border-radius: 8px;
    margin-top: 10px;    
    margin-bottom: 10px;
  }

  hr.bottomline{
    background-color: var(--accent);
    height: 3px;
    border: none;
    margin: 20px 0 25px 0;    
  }  

.bottom{
  width: 100%;
}

  .bottomtext{
    text-align: center;
    font-weight: bold;
  }




}